.wrapper{
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
    width: calc((12px * 3) + 800px);
}

.tile{
    width: 200px;
    height: 200px;
    position: relative;
}
.tile img{
    width: 100%;
    height: 100%;
}

.invisible img{
    opacity: 0;
}

.invisible{
    background-color: red;
}

.visible img{
    opacity: 1;
}