.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000000b3;
	z-index: 10000;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.3s ease;
	pointer-events: none;
}

.overlay.open {
	opacity: 1;
	pointer-events: auto;
}

.alert-body {
	max-width: 400px;
	width: 90%;
	padding: 24px 12px;
	background-color: #fff;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: scale(0.8);
	opacity: 0;
	transition:
		transform 0.3s ease,
		opacity 0.3s ease;
}

.alert-body.show {
	transform: scale(1);
	opacity: 1;
}

.alert-body.hide {
	transform: scale(0.8);
	opacity: 0;
}

.alert-body p {
	font-size: 18px;
}

.alert-body.danger {
	border-right: 3px solid var(--danger);
	box-shadow: 1px 3px 12px 12px #00000035;
}
