
.tile {
	width: 100%;
	aspect-ratio: 1 / 1;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.6s;
	cursor: pointer;
}

.tile.flipped {
	transform: rotateY(180deg);
}

.tile-face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 8px;
	overflow: hidden;
}

.tile-back {
	background: url("assets/images/placeholder-2.png") center no-repeat;
	background-size: cover;
	display: flex;
	border-radius: 12px;
	align-items: center;
	justify-content: center;
}

.tile-front {
	transform: rotateY(180deg);
}

.tile-front img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
