#root {
	margin: 0 auto;
	padding: 0;
}

.main {
	position: relative;
}

.body {
	display: flex;
	flex-direction: row-reverse;
	position: relative;
	overflow: hidden;
}
.body::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	background: linear-gradient(
		to left,
		var(--primary) 50%,
		var(--light-primary),
		transparent
	);
	transition: all ease 1s;
}

.body.active .control-section {
	transform: translateX(100%);
	transition: all ease 1s;
	width: 0;
	z-index: -100;
}
.body.active .control-section p,
.body.active .control-section button {
	display: none;
}
.body.active::after {
	content: "";
	transform: translateX(100%);
	z-index: 10;
	background: linear-gradient(
		to left,
		var(--primary) 50%,
		var(--light-primary),
		transparent
	);
}

.control-section {
	width: 40%;
	height: 100%;
	position: relative;
	z-index: 100;
}

@media (max-width: 800px) {
	.body {
		flex-wrap: wrap;
	}

	.control-section {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-color: var(--primary);
	}

	.body.active .control-section {
		display: none;
	}
}

.inner {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-right: 42px;
}

.inner p {
	font-size: 42px;
	columns: #090909;
}

@media (max-width: 600px) {
	.body {
		flex-direction: column;
	}
}
