#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 48px;
}

.body button {
	padding: 12px 24px;
	border: 1px solid red;
	color: red;
	background-color: transparent;
}
