
.tajawal-regular {
  font-family: "Tajawal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
	padding: 0;
	margin: 0;
	background-color: #e8d1a929;
}

* {
	box-sizing: border-box;
	font-family: "Tajawal", sans-serif!important;
}


.body {
	max-width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}
